.card {
  width: 300px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
  width: 300px;
}

.card-border {
  width: 306px;
  border-radius: 10px;
  padding: 3px;
  background: linear-gradient(90deg, #FCF6BA 20%, #FBF5B7 40%, #ECD08C 50%, #ECD08C 55%, #FBF5B7 70%, #FCF6BA 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
