:root {
  --teal: #008080;
  --white: #e6f1ff;
  --font-family: 'Gill Sans', sans-serif;
}

#root {
  width: 100%;
  display: block;
}


@font-face {
  font-family: 'Gill Sans';
  src: url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;700&display=swap');
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--white);

  background-color: var(--teal);
  background-image: url('../public/assets/img/felt.png');

  display: flex;
  height: 100vh;
  overflow: hidden;
}
a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
